<%= link_to 'Plants', plants_path %>
<h1>Welcome Gardeners!</h1>
<h3>Profiles</h3>

<% @users.each do |user|%>
    <%= link_to user.name, user_path(user) %><br>
<% end %>
<br>

<%= button_to "New User", {action: "new"}, method: :get%>